{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>BlueHexagon</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/css/uikit.css" integrity="sha256-JEsxTTI8nlCbXP6DLjgSvwOJX2dDIjfK+XLXA5ljEWI=" crossorigin="anonymous" />
</head>
<body>
	
	<div class="uk-container-expand">
		<div class="uk-position-center">
			<img src="{% static 'household/images/logo_2.svg' %}" alt="BlueHexagon" width="512" draggable="false">
			<h3 class="uk-heading-primary uk-text-center" style="color: #2196F3; font-family: 'Lato', sans-serif;margin-top: 0;">BlueHexagon Inc.</h3>
			<hr class="uk-divider-icon">
			<h3 class="uk-heading uk-text-center" style="margin-top: 0;">In Love <i class="fa fa-heart" style="color: #E91E63"></i> We Trust</h3>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/js/uikit.js" integrity="sha256-cpbou38OGp2I0P8+aRlSUIVxhUZqb2l9hg67AsifwWc=" crossorigin="anonymous"></script>
</body>
</html>