{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Curly Fries - {% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'household/css/app.css' %}">
	
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://cdn.quilljs.com/1.2.3/quill.bubble.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.css" integrity="sha256-0zP86LzXedNkkBjePtKrMTAPuIy6EzHfGlyYvsmGLBw=" crossorigin="anonymous" />

	<script>
		var base_url = "{% url 'centaur:home' %}";
	</script>
</head>
<body>
	<div>
		
		{% block content %}
		{% endblock %}

		<footer></footer>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="{% static 'household/js/build.js' %}"></script>
</body>
</html>