{% load static %}
<div id="progressBarContainer"></div>
<div style="margin-bottom: 1.52em !important;">
	<div class="journal-nav--wrapper pull-left">
		<a href="{% url 'centaur:home' %}" style="text-decoration: none; color: inherit;">
			<i class="fa fa-home wv-icon" id="home"></i>
		</a>

		<ul>
			{% if request.resolver_match.view_name == "centaur:home" %}
			<li>
				<a href="{% url 'centaur:create' %}">
					<i class="fa fa-plus wv-icon"></i>
				</a>
			</li>
			<li>
				<a href="{% url 'centaur:logout' %}" title="Logout">
					<fa class="fa fa-sign-out wv-icon" style="background: rgb(255,87,34); color: #f2f2f2;"></fa>
				</a>
			</li>
			{% endif %}
<!-- 			<li>
				<a href="#">
					<i class="fa fa-paint-brush wv-icon"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-rocket wv-icon"></i>
				</a>
			</li> -->
		</ul>
	</div>
	
	

	
	
	<div class="pull-right" style="display: flex; align-items: center;">

		{% if request.resolver_match.view_name == "centaur:create" or request.resolver_match.view_name == "centaur:show" %}
		<div id="journalLoader" style="order:1; margin: 0 .52em;">
			<img src="{% static 'household/images/editor_save_gray.gif' %}" alt="Journal">
		</div>
		{% endif %}
		
		{% if request.resolver_match.view_name == "centaur:show" %}
		<a href="{% url 'centaur:delete' story.id %}" data-toggle="tooltip" title="Delete!" style="order: 2; margin: 0 .52em;">
			<i class="fa fa-trash wv-icon" style="background: #f44336;color: #f2f2f2"></i>
		</a>
		{% endif %}
		
		{% if request.resolver_match.view_name == "centaur:create" or request.resolver_match.view_name == "centaur:show" %}
		<a href="{% url 'centaur:home' %}" data-toggle="tooltip" title="Done!" style="order: 3; margin: 0 .52em;">
			<i class="fa fa-check wv-icon" style="background: #4CAF50; color: #f2f2f2;"></i>
		</a>
		{% endif %}

		<p style="order: 4; margin: 0 .52em;">In Love <i class="fa fa-heart love"></i> We Trust</p>

		
	
	</div>

	<h3 class="text-center">:: Journal ::</h3>
</div>
